<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Globals</string>
		<string>States</string>
		<string>Game</string>
		<string>Levels</string>
		<string>Score</string>
		<string>Buttons</string>
		<string>Physics</string>
		<string>Chips</string>
		<string>OldCode</string>
		<string>Targets</string>
	</array>
	<key>Created</key>
	<string>2013-06-18 03:26:00 +0000</string>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
